<ion-view title="Cadastre-se" id="page4">
  <ion-content padding="true" class="has-header">
    <form id="cadastreSe-form3" class="list">
      <ion-list id="cadastreSe-list4">
        <label class="item item-input" id="cadastreSe-input1">
          <span class="input-label">Name</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="cadastreSe-input2">
          <span class="input-label">Username</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="cadastreSe-input3">
          <span class="input-label">Password</span>
          <input type="text" placeholder="">
        </label>
      </ion-list>
      <button id="cadastreSe-button2" class="button button-stable  button-block">Sign up</button>
    </form>
  </ion-content>
</ion-view>