<ion-view title="Dados Cadastrais" id="page6">
  <ion-content padding="true" class="has-header">
  
	<p ng-show="mensagem.length" class="alert alert-info">{{mensagem}}</p>
  
    <form id="dadosCadastrais-form4" class="list" ng-submit="submeter(dadosCadastrais)">
      <label class="item item-input" id="dadosCadastrais-input4">
        <span class="input-label">Nome</span>
        <input type="text" placeholder="" ng-model="dadosCadastrais.nome">
      </label>
	  <label class="item item-input" id="dadosCadastrais-input8">
        <span class="input-label">Apelido</span>
        <input type="text" placeholder="" ng-model="dadosCadastrais.apelido">
      </label>	  
      <label class="item item-input" id="dadosCadastrais-input5">
        <span class="input-label">Data Nasc.</span>
        <input type="date" placeholder="" ng-model="dadosCadastrais.dt_nasc">
      </label>
      <label class="item item-select" id="dadosCadastrais-select1">
        <span class="input-label">Sexo</span>
        <select ng-model="dadosCadastrais.sexo">
			<option value="">SELECIONE</option>
			<option value="M">Masculino</option>
			<option value="F">Feminino</option>
        </select>
      </label>
      <label class="item item-select" id="dadosCadastrais-select6">
        <span class="input-label">Estado</span>
        <select ng-model="dadosCadastrais.estado">
			<option value="">SELECIONE</option>
			<option value="AC">Acre</option>
			<option value="AL">Alagoas</option>
			<option value="AP">Amapá</option>
			<option value="AM">Amazonas</option>
			<option value="BA">Bahia</option>
			<option value="CE">Ceará</option>
			<option value="DF">Distrito Federal</option>
			<option value="ES">Espírito Santo</option>
			<option value="GO">Goiás</option>
			<option value="MA">Maranhão</option>
			<option value="MT">Mato Grosso</option>
			<option value="MS">Mato Grosso dos Sul</option>
			<option value="MG">Minas Gerais</option>
			<option value="PA">Pará</option>
			<option value="PB">Paraíba</option>
			<option value="PR">Paraná</option>
			<option value="PE">Pernambuco</option>
			<option value="PI">Piauí</option>
			<option value="RJ">Rio de Janeiro</option>
			<option value="RN">Rio Grande do Norte</option>
			<option value="RS">Rio Grande do Sul</option>
			<option value="RO">Rondônia</option>
			<option value="RR">Roraima</option>
			<option value="SC">Santa Catarina</option>
			<option value="SP">São Paulo</option>
			<option value="SE">Sergipe</option>
			<option value="TO">Tocantins</option>
		</select>
      </label>
      <label class="item item-input" id="dadosCadastrais-input7">
        <span class="input-label">Cidade</span>
		<!-- TODO USAR WEBSERVICE PARA TRAZER AS CIDADES -->
        <input type="text" placeholder="" ng-model="dadosCadastrais.cidade">
      </label>
	  <button id="detalhesDoJogo-button5" class="button button-positive  button-block">Atualizar</button>
    </form>
  </ion-content>
</ion-view>