<ion-view title="Detalhes do Jogo" id="page2">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/gta-v-logo1.png" style="display: block; width: 70%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="detalhesDoJogo-markdown1" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Usuário: Nikit4</p>

      <p style="color:#000000;">Lançamento: 01/01/2015</p>

      <p style="color:#000000;">Produtora: Rockstar North </p>

      <p style="color:#000000;">Gênero: Ação</p>

      <p style="color:#000000;">Sinopse: Grand Theft Auto V é o jogo de mundo aberto mais dinâmico, mais variado e mais extenso já desenvolvido. Combina história e jogabilidade de um novo modo, enquanto os jogadores entram e saem repetidamente da vida dos três protagonistas do
        jogo.</p>
    </div>
    <button id="detalhesDoJogo-button5" class="button button-positive  button-block">Quero Trocar</button>
  </ion-content>
</ion-view>