<ion-view title="Excluir Usu&aacute;rio" id="page3">
  <ion-content padding="true" class="has-header">
  
  	<form id="teste" ng-submit="excluir(usuario)" ng-app="app.controllers" ng-controller="jogosDisponVeisCtrl">
  
		<div class="card">
		
			<div class="item item-text-wrap">
				<div class="list">
					<label class="item item-input item-stacked-label">
						<span class="input-label">Id</span>
						<input type="text" ng-model="usuario.id">
					</label>
				</div>
			</div>
			
			<button id="detalhesDoJogo-button5" 
			        class="button button-positive button-block">Excluir</button>
			
		</div>
	
	</form>
  
    <!--
    <form id="jogos-form6" class="list">
      <label class="item item-select" id="jogos-select2">
        <span class="input-label">Console</span>
        <select></select>
      </label>
      <label class="item item-select" id="jogos-select3">
        <span class="input-label">Gênero</span>
        <select></select>
      </label>
      <label class="item item-input" id="jogos-input9">
        <span class="input-label">Nome</span>
        <input type="text" placeholder="">
      </label>
    </form>
    <div class="spacer" style="width: 300px; height: 17px;"></div>
    <ion-list id="jogos-list6">
      <ion-item class="item-thumbnail-left" id="jogos-list-item19" ui-sref="menu.jogoEscolhido">
        <h2>Item</h2>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="jogos-list-item20">
        <h2>Item</h2>
      </ion-item>
    </ion-list>
	-->
	
  </ion-content>
</ion-view>