<ion-view title="Meus Jogos" id="page5">
  <ion-content padding="true" class="has-header">
    <ion-list id="meusJogos-list5">
      <ion-item class="item-thumbnail-left" id="meusJogos-list-item14">
        <img src="img/Uncharted_4_box_artwork.jpg">
        <h2>Uncharted 4</h2>
        <p>Disponível para Troca: SIM</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="meusJogos-list-item15">
        <img src="img/watchdogsboxartps41jpg-9586e1.jpg">
        <h2>Watch Dogs</h2>
        <p>Disponível para Troca: NÃO</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="meusJogos-list-item16">
        <img src="img/large.jpg">
        <h2>FIFA 14</h2>
        <p>Disponível para Troca: SIM</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="meusJogos-list-item17">
        <img src="img/BoxArt-de-Final-Fantasy-XIII.jpg">
        <h2>Final Fantasy</h2>
        <p>Disponível para Troca: SIM</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>