<ion-view title="Atualizar Usu&aacute;rio" id="page5">
  <ion-content padding="true" class="has-header">
  
	<form id="teste" ng-submit="atualizar(usuario)" ng-app="app.controllers" ng-controller="jogosDisponVeisCtrl">
  
		<div class="card">

			<div class="item item-text-wrap">
				<div class="list">
					<label class="item item-input item-stacked-label">
						<span class="input-label">Id</span>
						<input type="text" ng-model="usuario.id">
					</label>
				</div>
			</div>
			
			<div class="item item-text-wrap">
				<div class="list">
					<label class="item item-input item-stacked-label">
						<span class="input-label">Nome</span>
						<input type="text" ng-model="usuario.nome">
					</label>
				</div>
			</div>
			
			<button id="detalhesDoJogo-button5" 
			        class="button button-positive button-block">Atualizar</button>
			
		</div>
	
	</form>  
  
  
	<!--
    <ion-list id="meusJogos-list5">
      <ion-item class="item-thumbnail-left" id="meusJogos-list-item14">
        <img src="img/Uncharted_4_box_artwork.jpg">
        <h2>Uncharted 4</h2>
        <p>Disponível para Troca: SIM</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="meusJogos-list-item15">
        <img src="img/watchdogsboxartps41jpg-9586e1.jpg">
        <h2>Watch Dogs</h2>
        <p>Disponível para Troca: NÃO</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="meusJogos-list-item16">
        <img src="img/large.jpg">
        <h2>FIFA 14</h2>
        <p>Disponível para Troca: SIM</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="meusJogos-list-item17">
        <img src="img/BoxArt-de-Final-Fantasy-XIII.jpg">
        <h2>Final Fantasy</h2>
        <p>Disponível para Troca: SIM</p>
      </ion-item>
    </ion-list>
	-->
	
  </ion-content>
</ion-view>